<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="ja" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
<!--    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">-->

<!--    <meta name="mobile-web-app-capable" content="yes">-->

<!--    <meta name="apple-mobile-web-app-capable" content="yes">-->
<!--    <meta name="apple-mobile-web-app-status-bar-style" content="black">-->
<!--    <meta name="apple-mobile-web-app-title" content="Material Design Lite">-->
<!--    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">-->
<!--    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, tv" />-->
    <title>トップページ</title>
    <style>
        table,tr,td{
            border: 1px solid lightgray;
        }

    </style>
</head>
<body>
<form id="loginForm" method="post" th:action="@{/users/login}">
    <div>
        <label for="email">
            E-mail:<input type="input" name="email" id="email" required autofocus/>
        </label>
    </div>
    <div>
        <label for="password">
            パスワード:<input type="password" name="encrypted_password" id="password" required/>
        </label>
    </div>
    <input type="submit" value="ログイン"/>
</form>
<!--<script src="/js/bundle.js"></script>-->
</body>
</html>
